// Specific CSS for your home-page

.banner {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  flex-flow: column;
  justify-content: space-around;
  background-position: center;
  background-repeat: 30;
}

h1 {
  margin: 0px;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
  font-size: 60px;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  text-align: center;
  color: #004d79;
  padding: 15px;
}

  h1:after{
    content: "";
    position: absolute;
    bottom: 6px;
    opacity: 0.3;
    left: 30%;
    right: 30%;
    border-bottom: 15px solid #FECB53;
  }


audio {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 5px solid #dee2e2;
  height: 45px;
  background-color: #fff6f3;
}

.links {
  position: absolute;
  bottom: 20px;
  left: 20px;
  h2 {
    font-family: 'Abril Fatface', cursive;
    text-align: left;
    letter-spacing: 2px;
    margin: 0px;
    margin-top: 20px;
    border-radius: 2px;
  }
}

.banner-content {
  margin: auto;
  img {
    width: 400px;
    z-index: 1000;
  }
}

.date {
  position: absolute;
  bottom: 20px;
  right: 20px;
  h3 {
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    margin: 0px;
    color: #004d79;
  }
}

@media screen and (max-width: 875px) {
  .date {
    bottom: 30%;
    width: 120px;
    height: 120px;
    right: 60px;
    h3 {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 462px) {
  .date {
    bottom: 35%;
  }
}

@media screen and (max-width: 875px) {
  .banner {
    height: 120vh;
  }
}

@media screen and (max-width: 475px) {
  .banner {
    height: 140vh;
  }
}



@media screen and (max-width: 875px) {
  h1 {
    position: relative;
    left: 0px;
    font-size: 40px;
    text-align: center;
  }
}


@media screen and (max-width: 875px) {
  .banner-content img {
    width: 350px;
  }
}

@media screen and (max-width: 420px) {
  .banner-content img {
    width: 300px;
  }
}

@media screen and (max-width: 875px) {
  .links {
    position: relative;
    text-align: center;
    width: 80%;
    margin: auto;
    left: 0px;
    h2 {
      text-align: center;
    }
  }
}


@media screen and (max-width: 1018px) {
  audio {
    width: 150px;
  }
}

@media screen and (max-width: 875px) {
  audio {
    position: relative;
    width: 50%;
    margin: auto;
    right: 0px;
  }
}

@media screen and (max-width: 500px) {
  audio {
    position: relative;
    width: 70%;
    margin: auto;
    right: 0px;
  }
}

.bubbles {
display: inline-block;
font-family: arial;
position: relative;
}

.individual-bubble {
position: absolute;
border-radius: 100%;
bottom: 10px;
background-color: #fff;
z-index: 1;
}




