// Specific CSS for your home-page

.banner {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  flex-flow: column;
  justify-content: space-around;
  background-color: white;
  background-repeat: no-repeat;
  background-position: top-left;
  background-color: white;
}

h1 {
  margin: 0px;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
  font-size: 60px;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  text-align: center;
  color: #70A1D7;
  padding: 15px;
  text-shadow: #ffffff 1px 1px, #ffffff -1px 1px, #ffffff -1px -1px, #ffffff 1px -1px;
}



audio {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 45px;
}

.links {
  position: absolute;
  bottom: 20px;
  left: 20px;
  h3 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    letter-spacing: 2px;
    margin: 0px;
    margin-top: 20px;
    z-index: 10000;
    border: 4px solid #F7F48B;
  }
  h5 {
    letter-spacing: 2px;
    text-align: left;
    font-family: 'Abril Fatface', cursive;
    margin: 0px;
    color: #F47C7C;
    font-size: 28px;
  }
}


.banner-content {
  margin: auto;
  img {
    width: 400px;
    z-index: 1000;
  }
}



@media screen and (max-width: 875px) {
  .banner {
    height: 160vh;
  }
}

@media screen and (max-width: 475px) {
  .banner {
    height: 200vh;
  }
}



@media screen and (max-width: 875px) {
  h1 {
    position: relative;
    left: 0px;
    font-size: 40px;
    text-align: center;
  }
}


@media screen and (max-width: 875px) {
  .banner-content img {
    width: 300px;
  }
}


@media screen and (max-width: 420px) {
  .banner-content img {
    width: 280px;
  }
}

@media screen and (max-width: 320px) {
  .banner-content img {
    width: 240px;
  }
}


@media screen and (max-width: 875px) {
  .links {
    position: relative;
    text-align: center;
    width: 80%;
    margin: auto;
    left: 0px;
    h2 {
      text-align: center;
    }
  }
}


@media screen and (max-width: 1018px) {
  audio {
    width: 150px;
  }
}

@media screen and (max-width: 875px) {
  audio {
    position: relative;
    width: 50%;
    margin: auto;
    right: 0px;
  }
}

@media screen and (max-width: 500px) {
  audio {
    position: relative;
    width: 70%;
    margin: auto;
    right: 0px;
  }
}

.bubbles {
display: inline-block;
font-family: arial;
position: relative;
}

.individual-bubble {
position: absolute;
border-radius: 100%;
bottom: 10px;
background-color: #0B409C;
z-index: 1;
}


.mixtape {
  position: absolute;
  right: 20px;
  top: 120px;
  text-align: center;
  img {
    width: 200px;
  }
  h3 {
    font-family: 'Abril Fatface', cursive;
    color: #70A1D7;
    margin: 0px;
  }
}


@media screen and (max-width: 875px) {
  .mixtape {
    position: relative;
    width: 70%;
    margin: auto;
    right: 0px;
    top: 0px;
  }
}

.bottom-img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  opacity: 0.7;
}

@media screen and (max-width: 875px) {
  .bottom-img {
    display: none;
  }
}

.modal-content {
  padding: 30px;
  h2 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 30px;
    color: #70A1D7;
  }
  h4 {
    margin: 0px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 8px;
    background-color: #70A1D7;
    border: 3px solid #F7F48B;
    color: white;
    letter-spacing: 2px;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
  }
  p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    color: inherit;
    font-size: 14px;
  }
}

.hotel {
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn-hotel {
  color: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
  color: inherit;
  font-size: 14px;
  font-weight: bold;
  background-color: #F47C7C;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.btn-top {
  margin-bottom: 25px;
}
