<div class="wrapper">
<div class="banner" style="background-image: url('<%= image_path("background.jpg") %>');">
  <h1>Wedding Raph & Zguy</h1>
  <div class="banner-content">
    <%= image_tag("zr.png")  %>
  </div>
  <div class="links">
    <h2 style="background-color: #FECB53; padding: 10px;"><a href="" style="text-decoration: none; color: white;">Les infos Wedding</a></h2>
    <h2 style="background-color: #004d79; padding: 10px;"><a href="" style="text-decoration: none; color: white;">Les Hôtels du coin</a></h2>
    <h2 style="background-color: #f87569; padding: 10px;"><a href="" style="text-decoration: none; color: white;">La liste de cadeaux</a></h2>
  </div>
  <iframe width="" height="" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/332082100%3Fsecret_token%3Ds-kOoni&amp;color=%230066cc&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</div>
</div>
