<div class="wrapper">
<div class="banner" style="background-image: url('<%= image_path("background.jpg") %>');">
  <h1>Wedding Raph & Zguy</h1>
  <%= audio_tag("oui.wav", autoplay: true, controls: true) %>
  <div class="banner-content">
    <%= image_tag("zr.png")  %>
  </div>
  <div class="date">
    <h3>21.07.2018 <br> Narbonne</h3>
  </div>
  <div class="links">
    <h2 style="background-color: #FECB53; padding: 10px;"><a href="" style="text-decoration: none; color: white;">Les infos Wedding</a></h2>
    <h2 style="background-color: #004d79; padding: 10px;"><a href="" style="text-decoration: none; color: white;">Les Hôtels du coin</a></h2>
    <h2 style="background-color: #f87569; padding: 10px;"><a href="" style="text-decoration: none; color: white;">La liste de cadeaux</a></h2>
  </div>
</div>
</div>
